# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter/IPython
.ipynb_checkpoints/

# Logs
*.log

# Secrets
.env
*.key